* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.Desktop-1 {
  /* Desktop - 1 */
  position: relative;
  background: #ffffff;
  font-family: 'Inter';
  font-style: normal;
}

.Frame1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 54px;
  background: #000008;
  z-index: 1;
}

.Frame1 .ZEPETO {
  position: absolute;
  width: 56px;
  height: 17px;
  left: 26px;
  top: 23px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.Frame1 .Rectangle1 {
  /* Rectangle 1 */
  position: absolute;
  width: 43px;
  height: 14px;
  left: 86px;
  top: 24px;
  background: #ffffff;
  border-radius: 4px;
}

.Frame1 .STUDIO {
  position: absolute;
  left: 89px;
  top: 25px;
  font-weight: 600;
  font-size: 9px;
  color: #000000;
}

.Frame1 .content {
  position: absolute;
  height: 15px;
  left: 171px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .content:hover {
  color: #fff;
}

.Frame1 .Vector {
  /* Vector */
  position: absolute;
  left: 209px;
  top: 30px;
  width: 6px;
  height: 3px;
}

.Frame1 .creator_program {
  /* 크리에이터 프로그램 */
  position: absolute;
  left: 237px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .creator_program:hover {
  color: #fff;
}

.Frame1 .business {
  /* 비즈니스 */
  position: absolute;
  left: 366px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .business:hover {
  color: #fff;
}

.Frame1 .guide {
  /* 가이드 */
  position: absolute;
  left: 433px;
  top: 23px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .guide:hover {
  color: #fff;
}

.Frame1 .Vector_2 {
  /* Vector */
  position: absolute;
  left: 471px;
  top: 30px;
  width: 6px;
  height: 3px;
}

.Frame1 .new {
  /* new */
  position: absolute;
  width: 19px;
  height: 14px;
  left: 440px;
  top: 10px;
}

.Frame1 .support {
  /* 지원 */
  position: absolute;
  left: 500px;
  top: 24px;
  font-weight: 500;
  font-size: 12px;
  color: #727276;
}

.Frame1 .support:hover {
  color: #fff;
}

.Frame1 .Rectangle3 {
  /* Rectangle 3 */
  position: absolute;
  width: 83px;
  height: 27px;
  right: 6%;
  top: 32%;
  border: 1px solid #ffffff;
  border-radius: 4px;
  /* 콘텐츠 관리 */
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  line-height: 27px;
  color: #ffffff;
}

.Frame1 .Vector_3 {
  /* Vector */
  position: absolute;
  left: 96.12%;
  right: 2.4%;
  top: 38.89%;
  bottom: 24.16%;
  width: 16px;
  height: 19.95px;
  cursor: pointer;
}

.Frame2 {
  position: relative;
  width: 1082px;
  height: 1254px;
  margin: 0 auto;
}

.Frame2_h1 {
  position: absolute;
  top: 144px;
  left: 275px;
  font-weight: 600;
  font-size: 46px;
  color: #292930;
}

.Frame2_p {
  position: absolute;
  top: 210px;
  left: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  color: #36363c;
}

.Frame2_support {
  position: absolute;
  top: 269px;
  left: 492px;
  width: 98px;
  height: 38px;
  border-radius: 20px;
  background-color: #5c46ff;
  /* 지원하기 */
  text-align: center;
  line-height: 38px;
  color: #fefdff;
  font-weight: 400;
  font-size: 15px;
}

.Frame8 {
  /* Frame 8 */
  position: relative;
  width: 100%;
  height: 222px;
  margin: 0 auto;
}

.Frame8_line_top {
  width: 100%;
  border: 1px solid #f9f9fb;
}

.Frame8_ul {
  display: flex;
  position: absolute;
  top: 30px;
  left: 86px;
}

.Frame8_ul li {
  width: 99px;
  font-size: 8px;
  margin-bottom: 8px;
}

.Frame8_ul_title {
  font-weight: 600;
  color: #000;
  font-size: 9px;
  display: block;
  margin-bottom: 7px;
}

.Frame8_r1 {
  position: absolute;
  width: 87px;
  height: 27px;
  left: 1117px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
}

.Frame8_v1 {
  position: absolute;
  left: 1130px;
  top: 39px;
  width: 8px;
  height: 10px;
}

.Frame8_r1p {
  /* Google Play */
  position: absolute;
  left: 1145px;
  top: 34px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
}

.Frame8_r2 {
  position: absolute;
  width: 87px;
  height: 27px;
  left: 1209px;
  top: 30px;
  background: #f5f5f6;
  border-radius: 6px;
}

.Frame8_v2 {
  position: absolute;
  left: 1227px;
  top: 39px;
  width: 8px;
  height: 10px;
}

.Frame8_r2p {
  /* App Store */
  position: absolute;
  left: 1240px;
  top: 39px;
  font-weight: 600;
  font-size: 8px;
  line-height: 10px;
  color: #000000;
}

.Frame8_line_bottom {
  position: absolute;
  width: 100%;
  top: 150px;
  border: 1px solid #f9f9fb;
}

.Frame8_corp {
  /* © NAVER Z Corp. All rights reserved. */
  position: absolute;
  left: 87px;
  top: 169px;
  font-weight: 500;
  font-size: 8px;
  color: #b2b4b5;
}

.Frame8_l1 {
  position: absolute;
  width: 1px;
  height: 6px;
  left: 260px;
  top: 171px;
  background-color: #b2b4b5;
}

.Frame8_c1 {
  /* 이용약관 */
  position: absolute;
  left: 265px;
  top: 169px;
  font-weight: 500;
  font-size: 9px;
  color: #b2b4b5;
}

.Frame8_l2 {
  position: absolute;
  width: 1px;
  height: 6px;
  left: 310px;
  top: 171px;
  background-color: #b2b4b5;
}

.Frame8_c2 {
  /* 개인정보처리방침 */
  position: absolute;
  left: 317px;
  top: 169px;
  font-weight: 500;
  font-size: 9px;
  color: #b2b4b5;
}

.Frame8_l3 {
  position: absolute;
  width: 1px;
  height: 6px;
  left: 403px;
  top: 171px;
  background-color: #b2b4b5;
}

.Frame8_c3 {
  /* 문의하기 */
  position: absolute;
  left: 410px;
  top: 169px;
  font-weight: 500;
  font-size: 9px;
  color: #b2b4b5;
}

.Frame8_l4 {
  position: absolute;
  width: 1px;
  height: 6px;
  left: 456px;
  top: 171px;
  background-color: #b2b4b5;
}

.Frame8_c4 {
  /* Credits */
  position: absolute;
  left: 465px;
  top: 169px;
  font-weight: 500;
  font-size: 9px;
  color: #b2b4b5;
}

.Frame8_lan {
  /* 한국어 ▼ */
  position: absolute;
  left: 1160px;
  top: 170px;
  font-weight: 500;
  font-size: 9px;
  color: #b2b4b5;
}

.Frame8_insta {
  position: absolute;
  left: 1218px;
  bottom: 41px;
  width: 11px;
  height: 11px;
}

.Frame8_twitter {
  position: absolute;
  left: 1240px;
  bottom: 41px;
  width: 13px;
  height: 11px;
}

.Frame8_youtube {
  position: absolute;
  left: 1260px;
  bottom: 41px;
  width: 15px;
  height: 11px;
}

.Frame8_facebook {
  position: absolute;
  left: 1285px;
  bottom: 41px;
  width: 6px;
  height: 11px;
}
